p{font-size:25px;font-family:tahoma;color: purple;}
p1{color:red; font-size: 15px; position: absolute; right:10px; text-align:center;}
body{background-color:darkslategrey;color:azure;font-size:1.1em;}
#intro{font-size: 2.1em;}
.colorful{color:orange;position: absolute;top:400px;}
h1{text-align: center;text-indent:25px;}